.aboutus_container {
  background-image: url(../images/historybg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  height: 720px;
  display: flex;
  justify-content: space-between;
  padding: 13rem 10rem 0 10rem;
}
.g_background {
  font-size: 420px;
  font-weight: 700;
  font-family: "Cormorant Upright";
  position: absolute;
  width: 391px;
  height: 415px;
  left: 480px;
  top: 800px;
  --tw-text-opacity: 0.5;
  color: rgb(39 39 39 / var(--tw-text-opacity));
}
.our_history {
  display: flex;
  justify-content: space-between;
  padding: 13rem 10rem 0 10rem;
}
.bg-yellow {
  color: #dcca87 !important;
  font-size: 64px !important;
}
.text-right {
  text-align: right;
}
.g_bg {
  z-index: -1;
}
.knife_bg {
  padding: 0 1.5rem;
}
.knife_background {
  /* width: 45px; */
  position: relative;
  bottom: 100px;
  height: 510px;
}
.menu_palatte {
    padding: 4rem 10rem;
}
.today_special {
    text-align: center;
    
}
.chefsword {
  display: flex;
  /* justify-content: space-between; */
  padding: 6rem 12rem;
  background-image: url(../images/historybg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.chefContainer  {
  padding-top: 2rem;
}
.kevinLuo {
  padding: 5rem 0rem 0rem 5rem;
}
.signature {
  color: #AAAAAA;
  font-family: Bestermind;
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0.04em;
}
.weBelieve {
  padding: 4rem 0;
}